services:
  adguardhome:
    image: adguard/adguardhome:latest
    container_name: adguard-home
    restart: unless-stopped
    labels:
      logging: "promtail"
      logging_jobname: "container_logs"
    ports:
      - 53:53/tcp # plain DNS
      - 53:53/udp
      - 80:80/tcp # admin panel
      - 443:443/tcp
      - 443:443/udp
      - 3002:3000/tcp # port 3000 on host is used by another container
    volumes:
      - type: bind
        source: ./work
        target: /opt/adguardhome/work
      - type: bind
        source: ./conf
        target: /opt/adguardhome/conf
