services:
  home-assistant:
    image: lscr.io/linuxserver/homeassistant:latest
    container_name: home-assistant
    network_mode: host
    restart: unless-stopped
    labels:
      logging: "promtail"
      logging_jobname: "container_logs"
    environment:
      PUID: 1000
      PGID: 1000
      TZ: "Europe/Stockholm"
    volumes:
      - ./config:/config
    # ports:
    #  - 8123:8123 #optional
    # devices:
    #  - /path/to/device:/path/to/device #optional
