services:
  uptime-kuma:
    image: louislam/uptime-kuma:latest
    container_name: uptime-kuma
    restart: unless-stopped
    labels:
      logging: "promtail"
      logging_jobname: "container_logs"
    ports:
      - 3001:3001
    volumes:
      - ./uptime-kuma-data:/app/data
